<div class="row">
  <div class="col-12">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>add</mat-icon> Thêm thức ăn
          </mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tìm kiếm thức ăn gợi ý</mat-label>
              <input matInput placeholder="100 g beef" [value]="search" (keydown.enter)="searchEnter($event)"
                [attr.disabled]="isLoadingTarget ? true : null">
              <mat-icon matSuffix>search</mat-icon>
              <mat-hint>* An ingredient line with quantity and measure</mat-hint>
            </mat-form-field>
            <br />
            <br />

            <div class="box-element">
              <div class="box-element-header">
                <span>Thông tin thức ăn</span>
              </div>
              <br />
              <form [formGroup]="foodForm" (ngSubmit)="onFormSubmit()">
                <div class="box-element-content">
                  <div class="row">
                    <div class="offset-3 col-6 offset-3">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Tên thực phẩm" formControlName="food_name"
                          [errorStateMatcher]="matcher">
                        <mat-error>
                          <span *ngIf="!foodForm.get('food_name').valid && foodForm.get('food_name').touched">Chọn tên
                            loại thực phẩm</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="offset-2 col-8 offset-2">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Link ảnh" formControlName="description"
                          [errorStateMatcher]="matcher">
                        <mat-error>
                          <span *ngIf="!foodForm.get('description').valid && foodForm.get('description').touched">Cần
                            link ảnh</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Trọng lượng" formControlName="quantity"
                          [errorStateMatcher]="matcher">
                        <mat-error>
                          <span *ngIf="!foodForm.get('quantity').valid && foodForm.get('quantity').touched">Không để
                            trống trọng lượng của thực phẩm</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field class="full-width">
                        <mat-label>Đơn vị (g)</mat-label>
                        <mat-select [errorStateMatcher]="matcher" formControlName="unit">
                          <mat-option value="kg">kilograms(kg)</mat-option>
                          <mat-option value="g">grams(g)</mat-option>
                          <mat-option value="l">liters(l)</mat-option>
                          <mat-option value="ml">milliliters(ml)</mat-option>
                        </mat-select>
                        <mat-error>
                          <span *ngIf="!foodForm.get('unit').valid && foodForm.get('unit').touched">Đơn vị</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Calories (kcal)" formControlName="calories"
                          [errorStateMatcher]="matcher">
                        <mat-error>
                          <span *ngIf="!foodForm.get('calories').valid && foodForm.get('calories').touched">Điền lượng
                            calo</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Protein (g)" formControlName="proteins"
                          [errorStateMatcher]="matcher">
                        <mat-error>
                          <span *ngIf="!foodForm.get('proteins').valid && foodForm.get('proteins').touched">Điền lượng
                            protein</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Tinh bột (g)" formControlName="carbs"
                          [errorStateMatcher]="matcher">
                        <mat-error>
                          <span *ngIf="!foodForm.get('carbs').valid && foodForm.get('carbs').touched">Điền lượng tinh
                            bột</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Chất béo (g)" formControlName="fat" [errorStateMatcher]="matcher">
                        <mat-error>
                          <span *ngIf="!foodForm.get('fat').valid && foodForm.get('fat').touched">Điền lượng chất
                            béo</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <button mat-button color="primary" class="float-right" [disabled]="!foodForm.valid">
                        <mat-icon>add_circle</mat-icon> Thêm thức ăn
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <br />
            </div>
          </div>
          <div class="col-6">
            <div class="box-element" [ngStyle]="{ 'height' : (isHaveTarget || isLoadingTarget) ? '' : '80px' }">
              <div class="box-element-header">
                <span>Gợi ý dinh dưỡng</span>
              </div>
              <div class="loading-target" *ngIf="isLoadingTarget">
                <mat-spinner></mat-spinner>
              </div>
              <div class="box-element-content" *ngIf="isHaveTarget">
                <div class="row">
                  <div class="col-4">
                    <h3 style="display: inline">{{ search }}</h3>
                  </div>
                  <div class="col-4">
                    <p>Giá trị dinh dưỡng {{ totalWeight }} g</p>
                  </div>
                  <div class="col-4">
                    <p>Calo (kcal) {{ caloriesTarget }}</p>
                  </div>
                </div>
                <div class="container mat-elevation-z8 block-shadow">
                  <div class="table-container">
                    <table mat-table [dataSource]="dataSourceTarget" class="table">
                      <!-- Position Column -->
                      <ng-container matColumnDef="label">
                        <th mat-header-cell *matHeaderCellDef> Tên </th>
                        <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Giá trị </th>
                        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                      </ng-container>

                      <!-- Weight Column -->
                      <ng-container matColumnDef="unit">
                        <th mat-header-cell *matHeaderCellDef> Đơn vị </th>
                        <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumnsTarget; sticky: true;">
                      </tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsTarget;"></tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="box-element-content" *ngIf="!isHaveTarget && !isLoadingTarget">
                <br />
                <p style="text-align: center;">Không có dữ liệu</p>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="col-12">
    <h1>Danh sách các thức ăn</h1>
    <div class="container mat-elevation-z8">
      <mat-form-field appearance="outline" class="full-width" style="padding: 10px 10px 0 10px;">
        <mat-label>Tìm kiếm thức ăn</mat-label>
        <input matInput placeholder="Tìm kiếm" [(ngModel)]="searchKey" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="isRateLimitReached">
          Dữ liệu này bị giớ hạn truy cập, vui lòng thử lại sau ít phút nữa. Xin cảm ơn!
        </div>
      </div>
      <div class="table-container">

        <table mat-table [dataSource]="dataSearch" matSort matSortActive="food_name" matSortDisableClear
          matSortDirection="asc" multiTemplateDataRows>

          <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
          <!-- Name Column -->
          <ng-container matColumnDef="food_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Thực phẩm </th>
            <td mat-cell *matCellDef="let row"> {{ row.food_name }} </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Trọng lượng </th>
            <td mat-cell *matCellDef="let row"> {{ row.quantity }} </td>
          </ng-container>

          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đơn vị </th>
            <td mat-cell *matCellDef="let row"> {{ row.unit }} </td>
          </ng-container>

          <ng-container matColumnDef="carbs">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lượng tinh bột </th>
            <td mat-cell *matCellDef="let row">
              <button mat-mini-fab color="primary">{{row.carbs}}</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="proteins">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lượng protein </th>
            <td mat-cell *matCellDef="let row">
              <button mat-mini-fab color="primary">{{row.proteins}}</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="fat">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Chất béo </th>
            <td mat-cell *matCellDef="let row">
              <button mat-mini-fab color="primary">{{row.fat}}</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="calories">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Calories </th>
            <td mat-cell *matCellDef="let row">
              <mat-chip-list>
                <mat-chip>{{row.calories}} kcal</mat-chip>
              </mat-chip-list>

            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="element-diagram">
                  <div class="element-symbol"> {{element.food_name}} </div>
                  <div class="element-name"> {{element.weight}}g </div>
                  <div class="element-weight"> {{element.calories}}kcal </div>
                </div>
                <div class="element-description">
                  {{element.food_name}}
                  <span class="element-description-attribution"> -- Chi tiết </span>
                  <div>
                    <button mat-icon-button [routerLink]="['/food-edit', element.food_id]">
                      <mat-icon aria-label="Edit" id="edit-{{ element.food_id }}" color="primary">
                        create
                      </mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteFood(element.id)">
                      <mat-icon aria-label="Delete" id="delete-{{ element.id }}" color="warn">
                        delete_sweep
                      </mat-icon>
                    </button>
                  </div>
                </div>

              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row"></tr>
        </table>
      </div>
      <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSize]="10"></mat-paginator>
    </div>
  </div>
</div>
