<div class="row">
  <div class="col-12">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>add</mat-icon> Thêm bài tập mới
          </mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline" class="full-width" style="padding: 10px 10px 0 10px;">
              <mat-label>Tìm kiếm bài tập (tránh trùng lặp)</mat-label>
              <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchKey"
                placeholder="running or something else...">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"
                (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <br />
            <br />

            <div class="box-element">
              <div class="box-element-header">
                <span>Thông tin bài tập</span>
              </div>
              <br />
              <form [formGroup]="exerciseForm" (ngSubmit)="onFormSubmit()">
                <div class="box-element-content">
                  <div class="row">
                    <div class="offset-3 col-6 offset-3">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Tên bài tập" formControlName="exercise_name"
                          [errorStateMatcher]="matcher">
                        <mat-error>
                          <span
                            *ngIf="!exerciseForm.get('exercise_name').valid && exerciseForm.get('exercise_name').touched">Chọn
                            tên bài tập</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field class="full-width">
                        <textarea matInput placeholder="Lượng calories cần đốt cháy" formControlName="calories_burn"
                          [errorStateMatcher]="matcher"></textarea>
                        <mat-error>
                          <span
                            *ngIf="!exerciseForm.get('calories_burn').valid && exerciseForm.get('calories_burn').touched">Lượng
                            calories bị đốt cháy</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Số hiệp" formControlName="index_of_sets"
                          [errorStateMatcher]="matcher">
                        <mat-error>
                          <span
                            *ngIf="!exerciseForm.get('index_of_sets').valid && exerciseForm.get('index_of_sets').touched">Số
                            hiệp</span>
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-4">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Số lần lặp lại" formControlName="repetitions"
                          [errorStateMatcher]="matcher">
                        <mat-error>
                          <span
                            *ngIf="!exerciseForm.get('repetitions').valid && exerciseForm.get('repetitions').touched">Số
                            lần lặp lại</span>
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-4">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Cân nặng mỗi hiệp" formControlName="weight_per_set"
                          [errorStateMatcher]="matcher">
                        <mat-error>
                          <span
                            *ngIf="!exerciseForm.get('weight_per_set').valid && exerciseForm.get('weight_per_set').touched">Mức
                            tạ</span>
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-4">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Video tham khảo" formControlName="video_url"
                          [errorStateMatcher]="matcher">
                        <mat-error>
                          <span
                            *ngIf="!exerciseForm.get('video_url').valid && exerciseForm.get('video_url').touched">Video
                            tham khảo</span>
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-12">
                      <button mat-button color="primary" class="float-right" [disabled]="!exerciseForm.valid">
                        <mat-icon>add_circle</mat-icon> Thêm mới bài tập
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <br />
            </div>
          </div>

        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<br />
<br />

<div class="row">
  <div class="col-12">
    <h1>Danh sách bài tập</h1>
    <div class="container mat-elevation-z8">
      <mat-form-field appearance="outline" class="full-width" style="padding: 10px 10px 0 10px;">
        <mat-label>Tìm kiếm bài tập</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchKey"
          placeholder="tìm kiếm tất cả thông tin">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="isRateLimitReached">
          Dữ liệu này bị giớ hạn truy cập, vui lòng thử lại sau ít phút nữa. Xin cảm ơn!
        </div>
      </div>

      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="exercise_id" matSortDisableClear
          matSortDirection="asc" multiTemplateDataRows>

          <!-- ID Column -->
          <ng-container matColumnDef="exercise_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
            <td mat-cell *matCellDef="let row"> {{row.exercise_id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="exercise_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Bài tập </th>
            <td mat-cell *matCellDef="let row"> {{row.exercise_name}} </td>
          </ng-container>

          <!-- Calories Column -->
          <ng-container matColumnDef="calories_burn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Calories </th>
            <td mat-cell *matCellDef="let row"> {{row.calories_burn}} kcal </td>
          </ng-container>

          <!-- Distance Column -->
          <ng-container matColumnDef="index_of_sets">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Set/Hiệp </th>
            <td mat-cell *matCellDef="let row"> {{row.index_of_sets}}</td>
          </ng-container>

          <!-- Duration Column-->
          <ng-container matColumnDef="repetitions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lặp lại </th>
            <td mat-cell *matCellDef="let row"> {{row.repetitions}} </td>
          </ng-container>

          <!-- Duration Column-->
          <ng-container matColumnDef="weight_per_set">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mức tạ</th>
            <td mat-cell *matCellDef="let row"> {{row.weight_per_set}} kg</td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="element-diagram">
                  <div class="element-symbol"> {{element.exercise_name}} </div>
                  <div class="element-name"> {{element.calories_burn}} kcal </div>
                </div>
                <div class="element-description">
                  {{element.owner}}
                  <span class="element-description-attribution"> -- Chi tiết </span>
                  <div>
                    <button mat-icon-button [routerLink]="['/exercise-edit', element.exercise_id]">
                      <mat-icon aria-label="Edit" id="edit-{{ element.exercise_id }}" color="primary">
                        create
                      </mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteExercise(element.exercise_id)">
                      <mat-icon aria-label="Delete" id="delete-{{ element.exercise_id }}" color="warn">
                        delete_sweep
                      </mat-icon>
                    </button>
                  </div>
                </div>

              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
