<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Heo Thì</mat-card-title>
    </mat-card-header>

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="isFieldInvalid('email')">
            Hãy nhập email hợp lệ.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">
            Mật khậu sẽ có 6 kí tự trở lên.
          </mat-error>
        </mat-form-field>
        <mat-progress-spinner style="margin:0 auto" mode="indeterminate" [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-spinner>
        <!-- <mat-error *ngIf="error" class="alert alert-danger">{{ error }}</mat-error> -->
      </mat-card-content>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card>

</div>
