<div class="row">
  <div class="col-12">
    <h1>Thông tin cá nhân người dùng</h1>
    <div class="container mat-elevation-z8">
      <mat-form-field appearance="outline" class="full-width" style="padding: 10px 10px 0 10px;">
        <mat-label>Tìm kiếm thông tin</mat-label>
        <input matInput placeholder="Tìm kiếm" [(ngModel)]="searchKey" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="isRateLimitReached">
          Dữ liệu này bị giớ hạn truy cập, vui lòng thử lại sau ít phút nữa. Xin cảm ơn!
        </div>
      </div>
      <div class="table-container">

        <table mat-table [dataSource]="dataProfile" matSort matSortActive="full_name" matSortDisableClear
          matSortDirection="asc" multiTemplateDataRows>

          <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
          <!-- Name Column -->
          <ng-container matColumnDef="full_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Họ tên </th>
            <td mat-cell *matCellDef="let row"> {{ row.full_name }} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{ row.email }} </td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đơn vị </th>
            <td mat-cell *matCellDef="let row"> {{ row.gender }} </td>
          </ng-container>

          <ng-container matColumnDef="date_of_birth">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày sinh </th>
            <td mat-cell *matCellDef="let row"> {{ row.date_of_birth | date: 'dd/MM/yy' }} </td>
          </ng-container>

          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại </th>
            <td mat-cell *matCellDef="let row"> {{ row.phone }} </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                <div class="">
                  <img class="element-diagram" src="{{element.avatar_url}}" alt="Ảnh đại diện">
                </div>

                <div class="element-description">
                  <p class="element-symbol"> {{element.full_name}} --
                    <span class="element-description-attribution"> {{element.address}} </span></p>
                  <p><strong>Cân nặng hiện tại:</strong> {{element.weight}} m</p>
                  <p><strong>Chiều cao hiện tại:</strong> {{element.height}} m</p>
                  <div>
                    <!-- <button mat-icon-button [routerLink]="['/food-edit', element.id]">
                      <mat-icon aria-label="Edit" id="edit-{{ element.id }}" color="primary">
                        create
                      </mat-icon>
                    </button> -->
                  </div>
                </div>

              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row"></tr>
        </table>
      </div>
      <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSize]="10"></mat-paginator>
    </div>
  </div>
</div>
