<div class="row">
  <div class="offset-3 col-6 offset-3">
    <h1>Thống kê trong ngày</h1>
    <hr><br>
  </div>
  <div class="col-6">
    <div class="col-12">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>filter_list</mat-icon> Check tiến độ người dùng
            </mat-panel-title>
            <mat-panel-description>
              <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-12">
              <div class="box-element">
                <div class="box-element-header">
                </div>
                <br />
                <form [formGroup]="filterUserForm" (ngSubmit)="filterUserByRemaining()">
                  <div class="box-element-content">
                    <div class="row">
                      <div class="offset-3 col-6 offset-3">
                        <mat-form-field class="full-width">
                          <input matInput [matDatepicker]="picker" placeholder="Chọn ngày lên thực đơn"
                            formControlName="date" [errorStateMatcher]="matcher" [(ngModel)]="date">
                          <mat-datepicker-toggle matSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error>
                            <span *ngIf="!filterUserForm.get('date').valid && filterUserForm.get('date').touched">Chọn
                              ngày</span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="offset-3 col-6 offset-3">
                        <mat-form-field class="full-width">
                          <mat-label>Trạng thái</mat-label>
                          <mat-select formControlName="status" [errorStateMatcher]="matcher">
                            <mat-option value="1">Hoàn thành thực đơn hằng ngày</mat-option>
                            <mat-option value="2">Đã chọn đủ cho thực đơn hằng ngày</mat-option>
                            <mat-option value="3">Thực đơn hằng ngày chưa đủ dinh dưỡng</mat-option>
                            <mat-option value="4">Chưa lên thực đơn</mat-option>
                          </mat-select>
                          <mat-error>
                            <span
                              *ngIf="!filterUserForm.get('status').valid && filterUserForm.get('status').touched"></span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="offset-3 col-6 offset-3">
                        <button mat-flat-button color="primary" class="float-right" [disabled]="!filterUserForm.valid">
                          <mat-icon>find_in_page</mat-icon>Lọc
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <br />
              </div>
            </div>

          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <mat-card style="border: 2px green solid">
          <mat-card-content>
            <div mat-card-avatar class="float-right">
              <mat-icon style="height: 40px; width: 40px; font-size: 40px; color: green">check_circle</mat-icon>
            </div>
            <mat-card-subtitle>Hoàn thành</mat-card-subtitle>
            <mat-card-title>{{countOne}} users</mat-card-title>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card style="border: 2px blue solid">
          <mat-card-content>
            <div mat-card-avatar class="float-right">
              <mat-icon color="primary" style="height: 40px; width: 40px; font-size: 40px;">check_box</mat-icon>
            </div>
            <mat-card-subtitle>Thực đơn đã đủ</mat-card-subtitle>
            <mat-card-title>{{countTwo}} users</mat-card-title>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-card style="border: 2px yellowgreen solid">
          <mat-card-content>
            <div mat-card-avatar class="float-right">
              <mat-icon style="height: 40px; width: 40px; font-size: 40px; color: yellowgreen">playlist_add</mat-icon>
            </div>
            <mat-card-subtitle>Chưa đủ thực đơn</mat-card-subtitle>
            <mat-card-title>{{countThree}} users</mat-card-title>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card style="border: 2px red solid">
          <mat-card-content>
            <div mat-card-avatar class="float-right">
              <mat-icon color="warn" style="height: 40px; width: 40px; font-size: 40px;">remove_circle</mat-icon>
            </div>
            <mat-card-subtitle>Chưa lên thực đơn</mat-card-subtitle>
            <mat-card-title>{{countFour}} users</mat-card-title>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="container mat-elevation-z8">
      <mat-form-field appearance="outline" class="full-width" style="padding: 10px 10px 0 10px;">
        <mat-label>Tìm kiếm...</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchKey"
          placeholder="tìm kiếm tất cả thông tin">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="isRateLimitReached">
          Dữ liệu này bị giớ hạn truy cập, vui lòng thử lại sau ít phút nữa. Xin cảm ơn!
        </div>
      </div>

      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="email" matSortDisableClear
          matSortDirection="asc" multiTemplateDataRows>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Người dùng </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>

          <ng-container matColumnDef="control">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Thông báo </th>
            <td mat-cell *matCellDef="let row">
              <button mat-flat-button color="primary" (click)="openDialog(row.email)">
                <mat-icon>notifications_active</mat-icon>Gửi
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
        </table>
      </div>
      <div class="box-element-content" *ngIf="!isHaveTarget && !isLoadingResults">
        <br />
        <p style="text-align: center; color: red;">Không có dữ liệu</p>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
