table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  position: relative;
  min-height: 200px;
}

.table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-target {
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row) {
  transition: .5s;
}

tr.element-row:not(.expanded-row):hover {
  background: rgb(224, 224, 224);
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 32px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.box-element {
  border: 1px solid #ccc !important;
  border-radius: 16px;
  /* box-sizing: border-box; */
  padding: 0.01em 16px;
}

.box-element .box-element-header {
  /* width:30px; */
  margin-top: -10px;
  margin-left: 5px;
  /* background:white; */
}

.box-element .box-element-header span {
  background: white;
  padding-left: 5px;
  padding-right: 5px;
}

.block-shadow {
  box-shadow: none;
}
