<div class="container mat-elevation-z8">
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="card">
    <form [formGroup]="foodForm" (ngSubmit)="onFormSubmit(foodForm.value)">
      <mat-form-field class="full-width">
        <input matInput placeholder="Tên loại thực phẩm" formControlName="food_name" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!foodForm.get('food_name').valid && foodForm.get('food_name').touched">Tên loại thực phẩm</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field [hidden]="true">
        <input matInput formControlName="food_id">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Trọng lượng" formControlName="quantity" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!foodForm.get('quantity').valid && foodForm.get('quantity').touched">Trọng lượng</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Ảnh mẫu" formControlName="description" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!foodForm.get('description').valid && foodForm.get('description').touched">Ảnh mẫu</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Đơn vị</mat-label>
        <mat-select formControlName="unit" [errorStateMatcher]="matcher">
          <mat-option value="kg">kilograms</mat-option>
          <mat-option value="g">grams</mat-option>
          <mat-option value="l">liters</mat-option>
          <mat-option value="ml">milliliters</mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!foodForm.get('unit').valid && foodForm.get('unit').touched">Đơn vị</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Calories" formControlName="calories" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!foodForm.get('calories').valid && foodForm.get('calories').touched">Calories</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Lượng tinh bột" formControlName="carbs" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!foodForm.get('carbs').valid && foodForm.get('carbs').touched">Tinh bột</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Hàm lượng Protein" formControlName="proteins" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!foodForm.get('proteins').valid && foodForm.get('proteins').touched">Hàm lượng Protein</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Chất béo" formControlName="fat" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!foodForm.get('fat').valid && foodForm.get('fat').touched">Chất béo</span>
        </mat-error>
      </mat-form-field>

      <div class="button-row">
        <button type="submit" [disabled]="!foodForm.valid" mat-flat-button color="primary">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
