<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-card
      style="border: 2px royalblue dashed; background: url('https://cdn.mos.cms.futurecdn.net/LEkEkAKZQjXZkzadbHHsVj.jpg'); background-size: cover;">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-card-title style="color: white;"> {{email_account}} </mat-card-title>
        </div>
      </mat-card-header>
    </mat-card>
    <mat-nav-list>
      <a *ngFor="let menuItem of menuItems" routerLinkActive="active-menu" mat-list-item [routerLink]="[menuItem.path]">
        <i>
          <mat-icon>{{menuItem.icon}}</mat-icon>
        </i>
        <div style="margin-left: 10px;">{{menuItem.title}}</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background: linear-gradient(to right, #6190e8, #a7bfe8);">
      <button type="button" mat-flat-button color="warn" aria-label="Toggle sidenav" mat-icon-button
        (click)="sidenav.toggle(); ">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="offset-5">
        <h3 style="color: snow">Dufusahu</h3>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="end">
        <div>
          <button mat-flat-button color="accent" (click)="onLogout()">Đăng xuất</button>
        </div>
      </div>
    </mat-toolbar>
    <div class="container">
      <br />
      <router-outlet></router-outlet>
    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
