.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  /* background-color: rgba(0,0,0,.03); */
  box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
  border-right: solid 0px rgba(0, 0, 0, .12);
}

.mat-drawer {
  background: #6190e8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6190e8, #a7bfe8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6190e8, #a7bfe8);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #6190e8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6190e8, #a7bfe8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6190e8, #a7bfe8);
}

.active-menu {
  color: snow;
}

.active-menu:hover {
  color: snow;
}

.active-menu:focus {
  color: snow;
}
