<div class="row">
  <div class="col-12">
    <h1>Kiểm soát mục tiêu người dùng</h1>
    <div class="container mat-elevation-z8">
      <mat-form-field appearance="outline" class="full-width" style="padding: 10px 10px 0 10px;">
        <mat-label>Tìm kiếm thông tin</mat-label>
        <input matInput placeholder="Tìm kiếm" [(ngModel)]="searchKey" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="isRateLimitReached">
          Dữ liệu này bị giớ hạn truy cập, vui lòng thử lại sau ít phút nữa. Xin cảm ơn!
        </div>
      </div>
      <div class="table-container">

        <table mat-table [dataSource]="dataGoal" matSort matSortActive="email" matSortDisableClear
          matSortDirection="asc" multiTemplateDataRows>

          <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{ row.email }} </td>
          </ng-container>

          <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày bắt đầu </th>
            <td mat-cell *matCellDef="let row"> {{ row.updatedAt | date: 'dd/MM/yy' }} </td>
          </ng-container>

          <ng-container matColumnDef="weight_start">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ban đầu </th>
            <td mat-cell *matCellDef="let row"> {{ row.weight_start }} kg</td>
          </ng-container>

          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hiện tại </th>
            <td mat-cell *matCellDef="let row">
              <button mat-stroked-button style="color: green" *ngIf="row.weight_finish > row.weight_start">
                <mat-icon>trending_up</mat-icon> {{row.weight}} kg
              </button>
              <button mat-stroked-button color="warn" *ngIf="row.weight_finish < row.weight_start">
                <mat-icon>trending_down</mat-icon> {{row.weight}} kg
              </button>
              <button mat-stroked-button *ngIf="row.weight_finish == row.weight_start">
                <mat-icon>trending_flat</mat-icon> {{row.weight}} kg
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="weight_finish">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mong muốn </th>
            <td mat-cell *matCellDef="let row"> {{ row.weight_finish }} kg</td>
          </ng-container>

          <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số tháng </th>
            <td mat-cell *matCellDef="let row"> {{ row.month }} </td>
          </ng-container>

          <ng-container matColumnDef="activity_level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mức độ </th>
            <td mat-cell *matCellDef="let row">
              <button mat-stroked-button *ngIf="row.activity_level == 1">Nhẹ</button>
              <button mat-stroked-button color="primary" *ngIf="row.activity_level == 2">Trung bình</button>
              <button mat-stroked-button color="accent" *ngIf="row.activity_level == 3">Nặng</button>
              <button mat-stroked-button color="warn" *ngIf="row.activity_level == 4">Đặc biệt</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="control">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Thông báo</th>
            <td mat-cell *matCellDef="let row">
              <button mat-flat-button color="primary" (click)="openDialog(row.email)">
                <mat-icon color="warn">notifications_active</mat-icon>Gửi
              </button>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                <div class="row" style="padding: 10px 5px 10px 5px;">
                  <div class="col-12">
                    <h4 *ngIf="element.weight_finish > element.weight_start">Cần tăng <button mat-flat-button
                        color="primary">{{element.weight}} kg</button>
                    </h4>
                    <h4 *ngIf="element.weight_finish < element.weight_start">Cần giảm <button mat-flat-button
                        color="accent">{{element.weight}} kg</button>
                    </h4>
                    <h4 *ngIf="element.weight_finish == element.weight_start">Hãy duy trì chế độ ăn để giữ nguyên cân
                      nặng
                    </h4>
                  </div>
                  <div class="col-3">
                    <mat-card style="border: 2px gray solid">
                      <mat-card-content>
                        <div mat-card-avatar class="float-right">
                          <mat-icon style="height: 40px; width: 40px; font-size: 40px; color: gray">room_service
                          </mat-icon>
                        </div>
                        <mat-card-subtitle>Calories(kcal)</mat-card-subtitle>
                        <mat-card-title>{{ Math.round(element.calories*100)/100 }}</mat-card-title>
                      </mat-card-content>
                    </mat-card>
                  </div>
                  <div class="col-3">
                    <mat-card style="border: 2px #bf8d3c solid">
                      <mat-card-content>
                        <div mat-card-avatar class="float-right">
                          <mat-icon style="height: 40px; width: 40px; font-size: 40px; color: #bf8d3c;">
                            local_pizza
                          </mat-icon>
                        </div>
                        <mat-card-subtitle>Proteins (g)</mat-card-subtitle>
                        <mat-card-title>{{ Math.round(element.proteins*100)/100 }}</mat-card-title>
                      </mat-card-content>
                    </mat-card>
                  </div>
                  <div class="col-3">
                    <mat-card style="border: 2px #ae7373 solid">
                      <mat-card-content>
                        <div mat-card-avatar class="float-right">
                          <mat-icon style="height: 40px; width: 40px; font-size: 40px; color: #ae7373">cake
                          </mat-icon>
                        </div>
                        <mat-card-subtitle>Tinh bột (g)</mat-card-subtitle>
                        <mat-card-title>{{ Math.round(element.carbon*100)/100 }}</mat-card-title>
                      </mat-card-content>
                    </mat-card>
                  </div>
                  <div class="col-3">
                    <mat-card style="border: 2px #a77932 solid">
                      <mat-card-content>
                        <div mat-card-avatar class="float-right">
                          <mat-icon style="height: 40px; width: 40px; font-size: 40px; color: #a77932;">fastfood
                          </mat-icon>
                        </div>
                        <mat-card-subtitle>Chất béo (g)</mat-card-subtitle>
                        <mat-card-title>{{ Math.round(element.fat*100)/100 }}</mat-card-title>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>

              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row"></tr>
        </table>
      </div>
      <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSize]="10"></mat-paginator>
    </div>
  </div>
</div>
