<div class="row">
  <div class="col-3">
    <mat-card style="border: 2px #a77932 solid" [routerLink]="['/foods']">
      <mat-card-content>
        <div mat-card-avatar class="float-right">
          <mat-icon style="height: 40px; width: 40px; font-size: 40px; color: #a77932;">fastfood</mat-icon>
        </div>
        <mat-card-subtitle>Thức Ăn</mat-card-subtitle>
        <mat-card-title>23</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-3">
    <mat-card style="border: 2px tomato solid" [routerLink]="['/exercise']">
      <mat-card-content>
        <div mat-card-avatar class="float-right">
          <mat-icon style="height: 40px; width: 40px; font-size: 40px; color: tomato;">fitness_center</mat-icon>
        </div>
        <mat-card-subtitle>Tập luyện</mat-card-subtitle>
        <mat-card-title>13</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-3">
    <mat-card style="border: 2px springgreen solid" [routerLink]="['/all-goals']">
      <mat-card-content>
        <div mat-card-avatar class="float-right">
          <mat-icon style="height: 40px; width: 40px; font-size: 40px; color: springgreen;">timeline</mat-icon>
        </div>
        <mat-card-subtitle>Thông tin</mat-card-subtitle>
        <mat-card-title>7</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-3">
    <mat-card style="border: 2px royalblue solid" [routerLink]="['/user-by-remaining']">
      <mat-card-content>
        <div mat-card-avatar class="float-right">
          <mat-icon style="height: 40px; width: 40px; font-size: 40px; color: royalblue;">timelapse</mat-icon>
        </div>
        <mat-card-subtitle>Theo dõi</mat-card-subtitle>
        <mat-card-title>7</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br />
<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Lượng người dùng đăng ký</mat-card-title>
        <mat-card-subtitle>24 Hours Performance</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <br />
        <canvas id=chartHours width="400" height="100"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br />
<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <!-- <mat-card-subtitle>sub-header</mat-card-subtitle> -->
        <mat-card-title>Lượng truy cập</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br />
        <canvas id=chartHours width="400" height="100"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br />
