<div class="row" dir="rtl">
  <div class="col-8">
    <div class="dialog-wrapper">
      <button mat-dialog-title mat-stroked-button color="primary">
        Gửi thông báo cho người tập
      </button>
      <mat-dialog-content>
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline" style="padding: 10px 10px 0 10px;">
              <input matInput placeholder=" thông báo" [(ngModel)]="data.title">
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field appearance="outline" style="padding: 10px 10px 0 10px;">
              <textarea matInput placeholder="lời nhắn" [(ngModel)]="data.message"></textarea>
            </mat-form-field>
          </div>
        </div>

      </mat-dialog-content>
      <hr>
      <mat-dialog-actions rtl>
        <button mat-flat-button color="primary" (click)="save()">
          <mat-icon>send</mat-icon>
        </button>
        <button mat-dialog-close mat-flat-button color="accent" (click)="close()">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
