<div class="container mat-elevation-z8">
  <h1>Chỉnh sửa thông tin bài tập</h1>
  <mat-card class="card">
    <form [formGroup]="exerciseForm" (ngSubmit)="onFormSubmit(exerciseForm.value)">
      <mat-form-field class="full-width">
        <input matInput placeholder="Tên bài tập" formControlName="exercise_name" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!exerciseForm.get('exercise_name').valid && exerciseForm.get('exercise_name').touched">Tên bài
            tập</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field [hidden]="true">
        <input matInput formControlName="exercise_id">
      </mat-form-field>


      <mat-form-field class="full-width">
        <textarea matInput placeholder="Giới thiệu về bài tập" formControlName="calories_burn"
          [errorStateMatcher]="matcher"></textarea>
        <mat-error>
          <span *ngIf="!exerciseForm.get('calories_burn').valid && exerciseForm.get('calories_burn').touched">Lượng
            calories bị đốt cháy</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Số hiệp" formControlName="index_of_sets" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!exerciseForm.get('index_of_sets').valid && exerciseForm.get('index_of_sets').touched">Số
            hiệp</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Số lần lặp lại" formControlName="repetitions" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!exerciseForm.get('repetitions').valid && exerciseForm.get('repetitions').touched">Số
            lần lặp lại</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Cân nặng mỗi hiệp" formControlName="weight_per_set" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!exerciseForm.get('weight_per_set').valid && exerciseForm.get('weight_per_set').touched">Mức
            tạ</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Video tham khảo" formControlName="video_url" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!exerciseForm.get('video_url').valid && exerciseForm.get('video_url').touched">Video
            tham khảo</span>
        </mat-error>
      </mat-form-field>

      <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner style="display: block;
        position: fixed;
        z-index: 1031;
        top: 50%;
        right: 50%;" *ngIf="isLoadingResults"></mat-spinner>
      </div>

      <div class="button-row">
        <button type="submit" [disabled]="!exerciseForm.valid" mat-flat-button color="primary">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
